form[name="newTimesheet"]
	.criteria
		width: 100%
		font-family: mainFont
		border: none
		
		tbody tr:first-child
			color: textDarkGrey
		
		tbody > tr:first-child > td.label-saved-criteria,
		tbody > tr:first-child > td.label-separator
			border-bottom: none
			text-align: center
			padding: 12px 10px
			background: lightGrey
			
		td.label,
		.criteria
			padding: 12px 10px
			border: none
			

			input
				border-top: none
				border-right: none
				border-left: none
				border-bottom: 1px solid #efefef
				font-size: 16px
				padding: 2px 10px
				
		.criteria
			> div
				margin-bottom: 10px
