@font-face
	font-family: 'HugeAvantGarde'
	src: url('assets/fonts/huge_agb_v5-webfont.eot')
	src: url('assets/fonts/huge_agb_v5-webfont.eot?#iefix') format('embedded-opentype'),
			url('assets/fonts/huge_agb_v5-webfont.woff2') format('woff2'),
			url('assets/fonts/huge_agb_v5-webfont.woff') format('woff'),
			url('assets/fonts/huge_agb_v5-webfont.ttf') format('truetype'),
			url('assets/fonts/huge_agb_v5-webfont.svg#HugeAvantGarde') format('svg')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'Galaxie'
	font-style: normal
	font-weight: normal
	src: url("assets/fonts/GalaxieCopernicus-Book.eot?#iefix") format("embedded-opentype"), url("assets/fonts/GalaxieCopernicus-Book.woff") format("woff"), url("assets/fonts/GalaxieCopernicus-Book.svg#svgFontName") format("svg")

@font-face
	font-family: 'Galaxie'
	font-style: italic
	font-weight: normal
	src: url("assets/fonts/GalaxieCopernicus-BookItalic.eot?#iefix") format("embedded-opentype"), url("assets/fonts/GalaxieCopernicus-BookItalic.woff") format("woff"), url("assets/fonts/GalaxieCopernicus-BookItalic.svg#svgFontName") format("svg")

mainFont = 'HugeAvantGarde'
secondaryFont = 'Galaxie'

*
	-moz-osx-font-smoothing: grayscale
	-webkit-font-smoothing: antialiased
