body
	th, label, legend, .label
		color: mainColor
		
	.yui3-button-hover,
	button, 
	.yui3-button,
	.yui3-button:hover
		background-image: none
		border: none
		color: white
		background-color: #000
		border-radius: 0 !important
		padding: 20px 40px
		font-family: mainFont
		transition: background .3s

	.yui3-button:hover
		background: mainColor
		color: white
		
*
	outline: 0
	
html body 
	a
		transition: opacity .2s
		
		&:hover
			opacity: .6